# === Gradle & Build ===
.gradle/
build/
/app/build/

# === Local Configuration ===
local.properties

# === Log/OS Files ===
*.log
.DS_Store

# === Android Studio & IntelliJ ===
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
output.json

# IntelliJ project files
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# === Keystore Files ===
*.jks
*.keystore

# === Google Services ===
google-services.json

# === Android Profiling ===
*.hprof
